*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:  #1f0040;
    --grey: #383838;
}

.section-form{
    width: 100%;
    display: flex;

}

.grid-2-cols-contact{
    grid-template-columns: 1fr 0.5fr;
    gap: 3rem;
}



.form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 60rem;
    justify-content: center;

}

.temp-input, .temp-textarea{
    padding: 1rem 2rem;
    border: none;
    /* border-bottom: 2px solid #00000042; */
    width: 100%;
    background: #ececec;
    border-radius: 5px;
}

.btn{
    background: var(--main-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.btn:hover{
    background: white;
    color: var(--main-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--main-color);

}

.location-div{
    background: var(--main-color);
    color: white;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.located-header{
    color: white;
}

.experince-details{
    margin-bottom: 2rem;
}