/* @media (max-width: 90rem){
    .experince-img{
        left: 50%;
        transform: scale(1.3) translateX(-50%);
        z-index: 25;
        max-width: 30rem;
        margin-right: 3rem;
        position: absolute;
        top: -6rem;
 
    }

    .section-experience-inner-div{
        padding-top: 15rem;
        border-top-left-radius: 1rem;
        width: 90%;
    }
} */

@media (max-width: 80em) {

    html{
        font-size: 60.25%;
    }

    .experince-img{
        left: 50%;
        transform: scale(1.1) translateX(-50%);
        z-index: 25;
        max-width: 40rem;
        margin-right: 0;
        position: absolute;
        top: -6rem;
 
    }
    .section-steps{
        padding: 15rem 0;

    }

    .section-experience-inner-div{
        padding-top: 18rem;
        border-top-left-radius: 1rem;
        width: 90%;
    }

    .main-nav{
        background: none;
    }
    .main-nav-list{
        transition: ease all 0.5s;
        position: absolute;
        flex-direction: column;
        background: rgb(255, 255, 255);
        padding: 2rem;
        /* right: -100%; */
        top: -40rem;
        right: 0;
        padding-top: 4rem;
        margin-left: 0;
    }

    .toggle{
        display: flex;
    }

    .main-nav-list.active{
        right: 0;
        top: 3rem;
    }
    

    .section-hero{
        height: 80vh;
 
    }
    
    
    
    .hero-container{
   
        height: 80vh;
    }


    .img-hero-div{
        bottom: -15rem;
    }

    .hero-img{
        max-width: 70rem;
    
    }

    .nav-link:link, .nav-link:visited{
        text-decoration: none;
        color: #5d5d5d;
        font-size: 1.9rem;
    }

    .main-nav-list .nav-link-icon-a {
        background: #1f0040;
        padding: 1rem 2rem;
        gap: 1.5rem;
        color: white;
    }

  }

  @media (max-width: 50em) {


    .grid-3-cols{
        grid-template-columns: 1fr 1fr;
    }
    .grid-2-cols{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    

    .section-newsletter{
        padding: 2rem;
    }

    .inner-div-newsletter{
        padding-bottom: 7rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .img-hero-div{
        bottom: -10rem;
    }

    .hero-img{
        max-width: 60rem;
    
    }

    .contact-form{
        margin-bottom: 9rem;
    }
    
    .foot .grid-2-cols{
        justify-items: flex-start;
        padding: 3rem;
    }

    .outernav{
        padding: 0;
    }

    .form{
        width: 100%;
    }


    
  }
  @media (max-width: 40em) {
    html {
        /* set it minus 1 from 10 to 9 */
        /* font-size: 7px; */
    
        /* but we should not use px */
    
        /* 8px/16px which is 1rem default and em = 16px 0.50% */
        font-size: 55%;
      }

      .tertiary-hero-text{
        font-size: 1.8rem;
      }

      .primary-hero-text{
        font-family: herofont;
    
        font-size: 13rem;
        font-weight: 900;
    }

    
    .img-hero-div{
        bottom: -5rem;
    }

    .hero-img{
        max-width: 47rem;
    
    }
    
  }
  
  @media (max-width: 35.25em) {
      .primary-hero-text{
          font-size: 11rem;
          
        }
    }
    
    @media (max-width: 31.25em) {
        
      html {
        /* set it minus 1 from 10 to 9 */
        /* font-size: 7px; */
    
        /* but we should not use px */
    
        /* 8px/16px which is 1rem default and em = 16px 0.50% */
        font-size: 50%;
      }

      .section-hero{
          height: 85vh;
          padding: 0 2rem;
          width: 100%;
          padding-bottom: 15rem;
          position: relative;
      }
      
      
      
      .hero-container{
          background: #1f0040;
          height: 85vh;
      }
      
      .primary-hero-text{
        font-family: herofont;
    
        font-size: 9rem;
        font-weight: 900;
    }
    .img-hero-div{
        position: absolute;
        z-index: 13;
        display: flex;
        justify-content: center;
        left: -3rem;
        bottom: -1.8rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .grid-3-cols{
        grid-template-columns: 1fr;
    }

}